<div class="full-screen-center">
  <%= form_for(@comment, html: { class: "generic-form" }) do |f| %>
    <%= render "shared/markdown_input", f: f, field: :content %>
    <%= f.hidden_field :task_id, value: @comment.task_id %>
    <%= f.submit submit_text, class: "btn btn-primary" %>
  <% end %>
</div>
